* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #004479;
}


/* ============= */
/* style of word */

#word-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
}

#front-div {
    font-size: 1.2em;
    color: yellow;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* style of word */
/* ============= */



/* ================ */
/* style of squares */

#number-of {
    font-size: 0.8em;
    position: absolute;
    top: -13px;
    left: 0px;
}


#first-parent {
    font-family: sans-serif;
    height: 213px;
    background-color: #003b68;
    margin-top: 71px;
    position: relative;
}



#first-parent,
#last-parent {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#practice-mode {
    font-size: 0.9em;
    text-decoration: underline;
    position: absolute;
    top: -43px;
    cursor: pointer;
}

#articles-container {
    display: none;
    margin-top: 3px;
}

#articles-container > div {
    font-size: 0.8em;
    width: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#der-btn-txt,
#die-btn-txt,
#das-btn-txt {
    width: fit-content;
    cursor: pointer;
}

#parent-of-empties {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#parent-of-empties div:empty {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: white;
}


#der-square::after {
    content: "Der";
}

#die-square::after {
    content: "Die";
    
}

#das-square::after {
    content: "Das";
}

#der-square,
#die-square,
#das-square {
    position: relative;
}

#der-square::after,
#die-square::after,
#das-square::after {
    font-size: 0.9em;
    position: absolute;
    left: calc(70px + 5px);
    /* The height given for each after square is 18.67px */
    bottom: calc((70px - 17.33px) / 2);
}

/* style of squares */
/* ================ */






/* ================ */
/* style of buttons */

#parent-of-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

#parent-of-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}









#p-button,
#f-button,
#r-button {
    margin-right: 19px;
}

#reset-on-query {
    display: none;
    width: 21px;
    height: 21px;
    position: absolute;
    cursor: pointer;
}






/* style of buttons */
/* ================ */





@font-face {
    font-family: "myFont";
    src: url("https://raw.githubusercontent.com/zfrmhmmd/font/master/DINNextLTArabic-Regular-3.ttf") format("truetype");
}

#back-div {
    display: none;
    font-size: 0.9em;
    color: #95c83f;
    font-family: "myFont";
}


@media (min-width: 515px) {
    #articles-container {
        display: none !important;
        margin-top: 3px !important;
    }

    #der-square::after {
        content: "Der" !important;
    }
    
    #die-square::after {
        content: "Die" !important;
        
    }
    
    #das-square::after {
        content: "Das" !important;
    }

}

@media (max-width: 515px) {

    #first-parent {
        height: 193px;
    }

    #word-holder {
        height: 81px;
    }


    #front-div {
        font-size: 1.1em;
    }

    #back-div {
        font-size: 0.8em;
    }



    #der-square::after,
    #die-square::after,
    #das-square::after {
        content: "";
    }

    #articles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    div#r-button {
        display: none;
    }

    #reset-on-query {
        display: block;
    }

    #parent-of-buttons {
        justify-content: flex-end;
        margin-top: 27px;
    }

}



